<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>

<div class="row">
  <div class="col-sm-12">
    <%= f.label :answer_text, answer.question.question_text %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= f.fields_for :answer_text do |af| %>
      <%- answer.question.options.each_with_index do |option, index| %>
        <%= af.label index do %>
          <%= af.check_box index, { checked: checkbox_checked?(answer, option) }, option, class: 'form-control' %>
          <%= option %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
