<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>
<div class="row">
  <div class="col-sm-12">
    <%= f.label :answer_text, answer.question.question_text %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= f.date_field :answer_text, class: 'form-control' %>
  </div>
</div>
