<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>
<div class="row">
  <div class="col-sm-12">
    <%= f.label :answer_text, answer.question.question_text%>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= f.select :answer_text, answer.question.options, {include_blank: true}, {class: 'form-control'} %>
  </div>
</div>

