<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>
<div class="row">
  <div class="col-sm-12">
    <%= f.label :answer_text, answer.question.question_text %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <%= f.text_field :answer_text, value: answer.answer_text || answer.question.default_text, placeholder: answer.question.placeholder, class: 'form-control' %>
  </div>
</div>
