<% if current_user %>
<div class="row">
  <% unless current_user.is_public_participant? %>
    <div class="col-lg-9">
      <div class="dashboard-chart-card">
        <h3>Happy Sheet</h3>
        <hr>
        <div id="chartContainer"><%= @chart.render() %></div>
      </div>
    </div>
  <% end %>

<% if current_user.is_authorized_to_modify? %>
  <div class="col-lg-3">
    <div class="dashboard-panel-card">
      <h3>Recent feedbacks</h3>
      <hr>
      <% @recent_feedbacks.flatten.each do |rf| %>
        <strong><%= rf[:question] %></strong>
        <br>
        <%= rf[:answer] %>
        <hr>
      <% end %>
    </div>
  </div>
<% end %>

</div>

<% if current_user.is_participant? %>
<div class="row">
  <div class="col-lg-9">
    <div class="dashboard-chart-card">
      <h3>Reminder</h3>
      <hr>
      Please don't forget to fill this <a href='/rapidfire/surveys/4/attempts/new'>Happy Sheet</a> today! Cheers! :)</li>
    </div>
  </div>
</div>
<% end %>
<% else %>
  <%= controller.redirect_to root_path %>
<% end %>