
    <table>
      <tr>
        <th width="5%">No</th>
        <th width="20%">Title</th>
        <th width="35%">Description</th>
        <th width="15%">Categories</th>
        <th width="15%">Owner</th>
        <th></th>
        <th></th>
      </tr>
      <% contents.each_with_index do |content, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= link_to content.title, content_path(content) %></td>
          <td><%= content.description %></td>
          <td>
            <% content.tag_list.each_with_index do |tag, i| %>
              <%= link_to tag, contents_path(tag_query: tag) %>
              <%= ',' if i < content.tag_list.size - 1 %>
            <% end %>
          </td>
          <td><%= User.get_name(content.created_by) %></td>
          <td><% if current_user.is_authorized_to_modify? %>
            <%= content.enabled ? 'approved' : 'need review' %>
          <% end %></td>
          <td><% if current_user.is_authorized_to_modify? %>
            <a href="<%= edit_content_path(content) %>"><span class="fa fa-pencil"></span></a>
          <% end %></td>
        </tr>
      <% end %>
    </table>

    <br>

    <div class="row">
      <div class="col-sm-4">
        <% if current_user.is_authorized_to_modify? %>
          <%= link_to 'New Content', new_content_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="col-sm-4 text-center">
        <%= paginate @contents %>
      </div>
      <div class="col-sm-4 text-right">
        <%= page_entries_info @contents %>
      </div>
    </div>