<%= form_with(model: content, local: true) do |form| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <label class="control-label col-sm-2" for="title">Title</label>
    <div class="col-sm-10">
      <%= form.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="description">Description</label>
    <div class="col-sm-10">
      <%= form.text_field :description, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="content">Content</label>
    <div class="col-sm-10">
      <%= form.text_area :content, class: 'form-control tinymce', rows: 5, cols: 25 %>
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="url">URL</label>
    <div class="col-sm-10">
      <%= form.text_field :url, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="module_list">Module</label>
    <div class="col-sm-10">
      <%= form.select :module_list, ::ContentsHelper::MODULES, {:prompt=>true}, {id: "module_list", :class=>'form-control'} %>
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="access_list">Access</label>
    <div class="col-sm-10">
      <%= form.select :access_list, ::ContentsHelper::ACCESSES, {:prompt=>true}, :class=>'form-control' %>
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="tag_list">Tag</label>
    <div class="col-sm-10">
      <%= form.text_field :tag_list, value: @content.tag_list.to_s, class: 'form-control' %>
      separate the categories with comma (,)
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="video">Video</label>
    <div class="col-sm-6">
      <%= form.file_field :video, id: 'content-video', class: 'form-control' %>
      <br>
      <small>Only MP4, Ogg, and WebM videos are allowed.</small>
    </div>
    <div class="col-sm-4">
      <% if form.object.video? %>

        <%= form.label :remove_video %>
        <%= form.check_box :remove_video %>
      <% end %>
    </div>
  </div>

  <%= form.hidden_field :type_list, value: 'material' %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
      <%= link_to 'Back', contents_path, class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
