  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#approved">Approved</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#review">Need Review</a>
    </li>
  </ul>
<hr>
<div class="tab-content">
  <div id="approved" class="tab-pane active"><br>
    <div class="row">
      <div class="col-md-6"><h2>Contents</h2></div>
      <div class="col-md-6 text-right"><%= render 'search' %></div>
    </div>
    <%= render 'contents', contents: @contents %>
  </div>
  <div id="review" class="tab-pane"><br>
    <h2>Contents in Review</h2>
    <p></p>
    <%= render 'contents', contents: @contents_in_review %>
  </div>
</div>
