
<div class="row">
      <div class="col-md-6"><h2>Contents</h2></div>
      <div class="col-md-6 text-right"><%= render 'search' %></div>
    </div>
<p></p>
<%= render 'contents', contents: @contents %>
