
  <div class="row">
    <div class="col-md-10">
      <div class="content-card">
        <div class="row">
          <div class="col-sm-6">
            <% if current_user.is_authorized_to_modify? %><%= link_to 'Edit', edit_content_path(@content) %> | <% end %>
            <%= link_to 'Back', contents_path %>
          </div>
          <% if !@content.enabled && current_user.is_admin? %>
            <div class="col-sm-6 text-right">
              <%= link_to "Approve This Content",
                approve_content_path(@content),
                data: { confirm: "Are you sure you want to approve this content?" },
                class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>

        <h1><%= @content.title %></h1>
        <h3><%= @content.description %></h3>
        <hr>
        <% unless @content.video.file.nil? %>
          <%= video_tag @content.video, controls: true, autobuffer: true, height: 640 %>
        <hr>
        <% end %>
        <div class='content-content'><%= @content.content.html_safe if @content.content %></div>

        <div class="row">
          <div class="col-sm-6">
            <% if current_user.is_authorized_to_modify? %><%= link_to 'Edit', edit_content_path(@content) %> | <% end %>
            <%= link_to 'Back', contents_path %>
          </div>
          <% if !@content.enabled && current_user.is_admin? %>
            <div class="col-sm-6 text-right">
              <%= link_to "Approve This Content",
                approve_content_path(@content),
                data: { confirm: "Are you sure you want to approve this content?" },
                class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <ul class="right-sidenav">
        <h4 class="right-sidenav-title">Related Materials</h4>
        <% @contents.each_with_index do |content, i| %>
          <li><%= link_to content.title, content_path(content) %></li>
      <% end %>
      </ul>
    </div>
  </div>
