<%= form_for content, :url => redirect_url do |form| %>
  <% if content.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <label class="control-label col-sm-2" for="title">Title</label>
    <div class="col-sm-10">
      <%= form.text_field :title, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="description">Note</label>
    <div class="col-sm-10">
      <%= form.text_field :description, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="url">URL</label>
    <div class="col-sm-10">
      <%= form.text_field :url, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="module_list">Module</label>
    <div class="col-sm-10">
      <%= form.select :module_list, ::ContentsHelper::MODULES, {}, {id: "module_list", :class=>'form-control'} %>
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="attachment">Upload File</label>
    <div class="col-sm-6">
      <%= form.file_field :attachment, id: 'content-attachment', class: 'form-control' %>
    </div>
    <div class="col-sm-4">
      <% if form.object.attachment? %>

        <%= form.label :remove_attachment %>
        <%= form.check_box :remove_attachment %>
      <% end %>
    </div>
  </div>

  <%= form.hidden_field :type_list, value: 'assignment' %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
      <%= link_to 'Back', assignments_path, class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
