<%= form_tag(contents_path, method: :get) do %>

  <div class="row">
    <div class="col-sm-10">
      <%= text_field_tag :term, nil, class: 'form-control' %>
    </div>
    <%= submit_tag 'Search', class: 'col-sm-2 btn btn-default' %>
  </div>
<% end %>