
<div class="row">
      <div class="col-md-6"><h2>Assignments</h2></div>
      <div class="col-md-6 text-right"><%= render 'search' %></div>
    </div>
<p></p>

    <table>
      <tr>
        <th width="5%">No</th>
        <th width="15%">Title</th>
        <th width="20%">Note</th>
        <th width="30%">Link</th>
        <th></th>
        <th width="10%">Categories</th>
        <th width="10%">Owner</th>
        <th></th>
        <th width="5%">Batch</th>
        <th></th>
      </tr>
      <% @contents.each_with_index do |content, i| %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= content.title %></td>
          <td><%= content.description %></td>
          <td><%= link_to content.url, content.url %></td>
          <td>
            <% if content.attachment.file.nil? %>
              <a href="<%= content.attachment %>"><span class="fa fa-download"></span></a>
            <% end %>
          </td>
          <td>
            <% content.tag_list.each_with_index do |tag, i| %>
              <%= link_to tag, assignments_path(tag_query: tag) %>
              <%= ',' if i < content.tag_list.size - 1 %>
            <% end %>
          </td>
          <td><%= User.get_name(content.created_by) %></td>
          <td>
            <% if current_user.is_participant? %>
              <a href="<%= edit_assignment_path(content) %>"><span class="fa fa-pencil"></span></a>
            <% end %>
          </td>
          <td>
            <%= "Batch #{User.find(content.created_by).batch || '-'}" %>
          </td>
        </tr>
      <% end %>
    </table>

    <br>

    <div class="row">
      <div class="col-sm-4">
        <% if current_user.is_participant? || current_user.is_public_participant? %>
          <%= link_to 'Submit New Assignment', new_assignment_path, class: 'btn btn-primary' %>
        <% end %>
      </div>
      <div class="col-sm-4 text-center">
        <%= paginate @contents %>
      </div>
      <div class="col-sm-4 text-right">
        <%= page_entries_info @contents %>
      </div>
    </div>
