
<div class="card">
  <h3>Question</h3>
<hr>
<%= form_for form, as: :question, url: url, method: method do |f| %>
  <%- unless form.errors.empty? %>
    <ul>
      <%- form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <label class="control-label col-sm-2" for="type">Type</label>
    <div class="col-sm-10">
      <%= f.select :type, ::Rapidfire::QuestionForm::QUESTION_TYPES, {},
        {id: "question_type", :class=>'form-control', :disabled => !@question.nil?} %>
    </div>
  </div>

  <div class="row">
    <%= f.label :question_text, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :question_text, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <%= f.label :position, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.number_field :position, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <%= f.label :placeholder, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :placeholder, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <%= f.label :default_text, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :default_text, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <%= f.label :answer_options, class: "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :answer_options, rows: 5, class: 'form-control' %>
    </div>
  </div>
  <br>

  <button type="submit" class="btn btn-primary"><%= submit_text %></button>
  <%= link_to 'Back', survey_questions_path(@survey), class: 'btn btn-primary' %>
<% end %>
</div>
