
    <h4>Other options</h4>
    <hr/>

  <div class="form-group">
    <%= f.label :answer_presence %>
    <%= f.check_box :answer_presence %>
  </div>

  <div class="form-group">
    <%= f.label :answer_minimum_length %>
    <%= f.text_field :answer_minimum_length %>
  </div>

  <div class="form-group">
    <%= f.label :answer_maximum_length %>
    <%= f.text_field :answer_maximum_length %>
  </div>

  <div class="form-group">
    <%= f.label :answer_greater_than_or_equal_to %>
    <%= f.text_field :answer_greater_than_or_equal_to %>
  </div>

  <div class="form-group">
    <%= f.label :answer_less_than_or_equal_to %>
    <%= f.text_field :answer_less_than_or_equal_to %>
  </div>
