<tr id="question_<%= question.id %>">
  <td><%= question.question_text %></td>
  <td><%= question.type.gsub('Rapidfire::Questions::', '') %></td>
  <td>
    <ul class="horizontal-list">
      <li><%= link_to "Edit", [:edit, question.survey, question] %></li>
      <li><%= link_to "Delete", [question.survey, question], method: :delete %></li>
    </ul>
  </td>
</tr>
