<h2>
  <%= @survey.name %>
  <%= t('rapidfire.questions.header') -%>
</h2>
<h3>
  <%= link_to t('rapidfire.questions.new'), new_survey_question_path(@survey), class: 'btn btn-primary' %>
</h3>
<h4>
  <%= link_to '< Back', surveys_path(@survey) %>
</h4>
<hr/>

<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th><%= t('rapidfire.questions.question') -%></th>
      <th><%= t('rapidfire.questions.type') -%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question", collection: @questions %>
  </tbody>
</table>

<% if defined?(Kaminari) %>
  <%= paginate @questions %>
<% end %>
