
    <%= form_for user, :url => registration_index_path(user), html: { multipart: true }  do |form| %>
      <% if user.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <label class="control-label col-sm-2" for="email">Email</label>
        <div class="col-sm-10">
          <%= form.text_field :email, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <label class="control-label col-sm-2" for="email">Name</label>
        <div class="col-sm-10">
          <%= form.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <label class="control-label col-sm-2" for="phone">Phone</label>
        <div class="col-sm-4">
          <%= form.text_field :phone, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <label class="control-label col-sm-2" for="git_url">Git URL</label>
        <div class="col-sm-10">
          <%= form.text_field :git_url, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <label class="control-label col-sm-2" for="linkedin_url">LinkedIn URL</label>
        <div class="col-sm-10">
          <%= form.text_field :linkedin_url, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <label class="control-label col-sm-2" for="photo">Photo</label>
        <div class="col-sm-6">
          <%= form.file_field :photo, id: 'user-photo', class: 'form-control' %>
          <br>
          <small>Only PNG, JPG and GIF images are allowed. Should be less than 500 kb</small>
        </div>
        <div class="col-sm-4">
          <% if form.object.photo? %>
            <%= image_tag form.object.photo.thumb.url %>
            <%= form.label :remove_photo %>
            <%= form.check_box :remove_photo %>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Register</button>
          <%= link_to 'Back', root_path, class: 'btn btn-primary' %>
        </div>
      </div>

    <% end %>
