<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GO-Academy" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Athena" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid my-nav">
      <div class="row">
        <div class="col-md-8">
          <%= image_tag 'go-academy.png', class: 'logo' %>
        </div>
      </div>
    </div>
    <div class="container">

    <div class="card">
      <h2>Register</h2>
      <hr>
      <%= render 'form', user: @user %>
    </div>
</div>
</body>
</html>
