<h2>Users</h2>
<p></p>
<table>
  <tr>
    <th></th>
    <th></th>
    <th>Name</th>
    <th>Email</th>
    <th>Batch</th>
    <th>Role</th>
    <th></th>
  </tr>
  <% @users.each_with_index do |user, i| %>
    <tr>
      <td><%= i + 1 %></td>
      <td width="10%">
        <% if !user.photo.file.nil? %>
          <%= image_tag user.photo.thumb.url %>
        <% elsif user.image %>
          <%= image_tag user.image, class: 'logo' %>
        <% else %>
          <h1><span class="fa fa-user"></span></h1>
        <% end %>
      </td>
      <% user_name = user.name unless user.name.nil? %>
      <td><%= link_to user_name, user_path(user) %></td>
      <td><%= link_to user.email, user_path(user) %></td>
      <td><%= user.batch %></td>
      <td><%= user.role.name unless user.role.nil? %></td>
      <td><a href="<%= edit_user_path(user) %>"><span class="fa fa-pencil"></span></a></td>
    </tr>
  <% end %>
</table>
<br>

<div class="row">
  <div class="col-sm-4">
    <%= link_to 'New User', new_user_path, class: 'btn btn-primary' %>
  </div>
  <div class="col-sm-4 text-center">
    <%= paginate @users %>
  </div>
  <div class="col-sm-4 text-right">
    <%= page_entries_info @users %>
  </div>
</div>
