<div class="card">
<h2>New User</h2>
<hr>
<%= form_with(model: @user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <label class="control-label col-sm-2" for="email">Email</label>
    <div class="col-sm-10">
      <%= form.text_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="email">Name</label>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="email">Role</label>
    <div class="col-sm-10">
      <%= form.collection_select(:role_id, Role.all, :id, :name, {:prompt=>true}, {:class=>'form-control'}) %>
    </div>
  </div>

  <div class="row">
    <label class="control-label col-sm-2" for="batch">Batch</label>
    <div class="col-sm-10">
      <%= form.select :batch, ::ContentsHelper::BATCHES, {:prompt=>true}, :class=>'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
      <%= link_to 'Back', users_path, class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
</div>