
<div class="card">
  <h1>User Info</h1>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <% if !@user.photo.file.nil? %>
          <%= image_tag @user.photo.url, width: 420 %>
        <% elsif @user.image %>
          <%= image_tag @user.image, width: 420, height: 420 %>
        <% else %>
          <h1><span class="fa fa-user"></span></h1>
        <% end %>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-3"><h4>Name</h4></div>
        <div class="col-sm-9"><%= @user.name %></div>
      </div>
      <div class="row">
        <div class="col-sm-3"><h4>Email</h4></div>
        <div class="col-sm-9"><%= @user.email %></div>
      </div>
      <div class="row">
        <div class="col-sm-3"><h4>Phone</h4></div>
        <div class="col-sm-9"><%= @user.phone %></div>
      </div>

      <div class="row">
        <div class="col-sm-3"><h4>Role</h4></div>
        <div class="col-sm-9"><%= @user.role.name %></div>
      </div>
      <div class="row">
        <div class="col-sm-3"><h4>Batch</h4></div>
        <div class="col-sm-9"><%= @user.batch %></div>
      </div>
      <div class="row">
        <div class="col-sm-3"><h4>GIT link</h4></div>
        <div class="col-sm-9">
          <% if @user.linkedin_url %>
            <%= link_to @user.git_url, @user.git_url %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3"><h4>LinkedIn link</h4></div>
        <div class="col-sm-9">
          <% if @user.linkedin_url %>
            <%= link_to @user.linkedin_url, @user.linkedin_url %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <% if current_user.is_admin? %>
        <%= link_to 'Back', users_path, class: 'btn btn-primary' %>
      <% else %>
        <%= link_to 'Back', dashboard_index_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>