<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GO-Academy" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Athena" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="jumbotron">
      <h1>403</h1>
      <h3>Oops, looks like you don't have enough permission to do this.</h3>
      <h4>Contact our administrator for more info.</h4>
    </div>
  </body>
  </html>