<div class="card">
<h3><%= survey.new_record? ? "New Survey" : "Edit Survey" %></h3>
<hr>
<%= form_for survey do |f| %>
  <%- if survey.errors.any? %>
    <ul>
      <%- survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <label class="control-label col-sm-2" for="name">Name</label>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <label class="control-label col-sm-2" for="introduction">Introduction</label>
    <div class="col-sm-10">
      <%= f.text_area :introduction, class: 'form-control' %>
    </div>
  </div>
  <br>

  <button type="submit" class="btn btn-primary">Submit</button>
  <%= link_to 'Back', surveys_path, class: 'btn btn-primary' %>
<% end %>
</div>