<tr id= "survey_<%= survey.id %>">
  <td>
    <% if can_administer? %>
      <%= link_to survey.name, survey_questions_path(survey) %>
    <% else %>
      <%= survey.name %>
    <% end %>
  </td>
  <td><%= link_to "Answer Questions", new_survey_attempt_path(survey) %></td>
  <td><% if can_administer? %><%= link_to "Results", [:results, survey] %><% end %></td>
  <td><% if can_administer? %><%= link_to "Delete", survey, method: :delete %><% end %></td>
</tr>
