<h2>
  Feedbacks
</h2>
<h3>
  <% if can_administer? %>
    <%= link_to "New Feedback Form", new_survey_path, class: 'btn btn-primary' %>
  <% end %>
</h3>
<hr/>

<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th width="70%">Feedback</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "survey", collection: @surveys %>
  </tbody>
</table>

<% if defined?(Kaminari) %>
  <%= paginate @surveys %>
<% end %>
