// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my-nav {
  background-color: #f0f0f0;
  height: 50px;
}

.my-nav-item {
  padding: 10px;
}