ul.inline {
  text-align: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

ul.inline li {
    display: inline;
    padding: 20px;
}

.layer {
  background-color: #fff;
}

.section-title {
  font-family: Lato,Helvetica,sans-serif;
  height: 3px;
  background-color: #48af4a;
  letter-spacing: 1.9px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #48af4a;
  left: -50px;
  line-height: 25px;
  position: relative;
  margin-left: 3em;
  margin-bottom: 1.5em;
}

.section-img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-text {
  padding-left: 50px;
  padding-right: 50px;
}

.list-img {
  width: 80px;
  padding: auto;
  margin-right: 50px;
  margin-left: 50px;
  vertical-align: middle;
}
.list-img .section-img {
  margin: auto;
}

.logo {
  height: 50px;
}
