
<div class="card">
    <h2><%= @survey.name %></h2>
  <p><%= @survey.introduction %></p>
  <hr/>

  <%= form_for([@survey, @attempt_builder]) do |f| %>
    <%- @attempt_builder.answers.each do |answer| %>
      <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
        <%= render_answer_form_helper(answer, answer_form) %>
        <hr>
      <% end %>
    <% end %>
    <button type="submit" class="btn btn-primary"><%= submit_text %></button>
    <%= link_to 'Back', surveys_path, class: 'btn btn-primary' %>
  <% end %>
</div>
