<div class="container-fluid my-nav">
  <div class="row">
    <div class="col-md-8">
      <%= image_tag 'go-academy.png', class: 'logo' %>
    </div>
    <div class="col-md-3">
      <p class="my-nav-item text-right">Hello, <%= link_to current_user.name, main_app.user_path(current_user) %></p>
    </div>

    <div class="col-md-1">
      <div class="inline-block">
        <%= image_tag current_user.image, class: 'logo' %>
      </div>
      <div class="inline-block" style="text-align: center;">
      <%= link_to 'Sign out', main_app.signout_url %>
      </div>
    </div>
  </div>
</div>

<ul class="sidenav">
  <%= render 'layouts/navigation_links', current_user: current_user %>
</ul>


